html{
  width: 100%;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  padding: 0em;
  margin: 0em;
}

*, *::before, *::after{
  box-sizing: inherit;
}

body{
  padding: 0em;
  margin: 0em;
}

.banner{
  position: relative;
  text-align: center;
}

.banner-img{
  width: 100%;
}

.banner-content{
  position: absolute;
  bottom: 0px;
  width: 100%;
  color: #fff;
  background-image: linear-gradient(to bottom, transparent, black);
  padding: 5em 0em .25em 0em;
  margin: 0em;
  font-family: 'Satisfy', cursive;
  font-size: 2.5rem;

}

img{
  padding: 0em;
  margin: 0em;
  width: 100%;
  display: block;
}

nav li{
  background-color: #222;
  margin: 0em;
  color: #fff;
  border: 1px solid #111;
  text-align: center;
  padding: 1em;
  width: 50%;
}

nav ol{
  list-style: none;
  padding: 0em;
  margin: 0em;
  overflow: hidden;
}

nav a{
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}

.li-about, .li-events{
  float: left;
  width: 50%;
}

.li-specials{
  float: left;
}
.li-reviews{
  float: right;
  width: 50%;
}

h2{
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  padding: .5em 0em 0em 0em;
  margin: 0em;
  font-family: 'Satisfy', cursive;
  font-size: 2em;
}

p{
  padding: 0em .5em 2em .5em;
  margin: 0em;
}


.events-text{
  background-color: #000;
  padding: 0em .5em 2em .5em;
  color: #fff;
}

.events-text ol{
  margin: 0em;
  padding: 0em;
  list-style: none;
}

.specials-text li{
  list-style: none;
}

.specials-text{
  padding: 0em .5em 2em .5em;
  margin: 0em;
}

.reviews-text{
  background-color: #000;
  padding: 0em .5em 0em .5em;
  color: #fff;
}

footer{
  background-color: #000;
  color: #fff;
  text-align: center;
  margin: 0em;
  padding: .5em;
  font-family: 'Satisfy', cursive;
  font-size: 1rem;
}

footer p{
  padding: .5em;
  margin: 0em;
}

footer a{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
